/*----瀹夊叏涓乏渚у悜涓婄紦鎱㈡粦鍔ㄧ壒鏁�---*/
.col1{animation: moves 2s 1 forwards;min-width:90px;padding:0;}
.col1 img{animation: moveimgs 2s 1 forwards;}
.col1 p{animation: moveps 2s 1 forwards;}
.col1 em{animation: moveems 2s 1 forwards;}
#tabs{animation:movess 2s 1 forwards;}
@-keyframes moveimgs{
 	from{top:40%;}
 	to{top:23%;}
}
@keyframes moveimgs{
 	from{top:40%;}
 	to{top:23%;}
}
@-keyframes moveps{
 	from{top:55%;}
 	to{top:35%;}
}
@keyframes moveps{
 	from{top:55%;}
 	to{top:35%;}
}
@-keyframes moveems{
	from{top:59%;}
	to{top:39%;}
}
@keyframes moveems{
	from{top:59%;}
	to{top:39%;}
}
@-keyframes movess{
 	from{top:100%;}
 	to{top:50%;}
}
@keyframes movess{
 	from{top:100%;}
 	to{top:50%;}
}
.spin{width:28px;height:28px;position:absolute;z-index:99999;top:50%;left:50%;margin-left:-14px;margin-top:-14px;}
.spin span{width:4px;height:28px;background-color:#dd2a50;display: inline-block;
   animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;}
.spin .rect1{animation-delay:-0.42s;background-color:#44b273;animation-delay:-0.42s;}
.spin .rect2{animation-delay:-0.21s;background-color:#19a3ae;animation-delay:-0.21s;}
@keyframes bouncedelay {
  0%,80%,100%{transform:scale(0.0) }
  40%{transform: scale(1.0) }
}
 
@keyframes bouncedelay {
  0%,80%,100%{transform:scale(0.0);transform:scale(0.0);} 
  40%{transform:scale(1.0);transform:scale(1.0);
  }
}

/*--loading--*/
.loading{
	
}
@keyframes line-spin-fade-loader {
  50% {opacity: 0.3; }
  100% {opacity: 1; } 
}
@keyframes line-spin-fade-loader {
  50% {opacity: 0.3; }
  100% {opacity: 1; } 
}
.line-spin-fade-loader {
	position:absolute;
	z-index:10;
	width:50px;
	height:50px;
	top:50%;
	left:50%;
	margin-top:25px;
	margin-left:25px;
}
.line-spin-fade-loader > div:nth-child(1) {
    top: 20px;
    left: 0;
    animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.12s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(2) {
    top: 13.63636px;
    left: 13.63636px;
    transform: rotate(-45deg);
        transform: rotate(-45deg);
            transform: rotate(-45deg);
    animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.24s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(3) {
    top: 0;
    left: 20px;
    transform: rotate(90deg);
        transform: rotate(90deg);
            transform: rotate(90deg);
    animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.36s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(4) {
    top: -13.63636px;
    left: 13.63636px;
    transform: rotate(45deg);
        transform: rotate(45deg);
            transform: rotate(45deg);
    animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.48s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(5) {
    top: -20px;
    left: 0;
    animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.6s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(6) {
    top: -13.63636px;
    left: -13.63636px;
    transform: rotate(-45deg);
        transform: rotate(-45deg);
            transform: rotate(-45deg);
    animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.72s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(7) {
    top: 0;
    left: -20px;
    transform: rotate(90deg);
        transform: rotate(90deg);
            transform: rotate(90deg);
    animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.84s infinite ease-in-out; 
}
.line-spin-fade-loader > div:nth-child(8) {
    top: 13.63636px;
    left: -13.63636px;
    transform: rotate(45deg);
        transform: rotate(45deg);
            transform: rotate(45deg);
    animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out;
            animation: line-spin-fade-loader 1.2s 0.96s infinite ease-in-out; 
}
.line-spin-fade-loader > div {
    background-color: #fff;
    border-radius: 2px;
    margin: 2px;
    animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    width: 4px;
    height: 12px; 
}
