@charset "utf-8";
.container {
	width: 434px;
	margin: 40px auto 0 auto;
	position: relative;overflow:hidden;
}
.action {float:left;
	width: 150px;overflow:hidden;margin-top:40px;
}
.cropped {
	width: 200px;
	border: 1px #ddd solid;
	height: 460px;
	padding: 4px;
	box-shadow: 0px 0px 12px #ddd;
	text-align: center;
}
.imageBox {
	position: relative;
	height: 200px;margin:20px 0 0 40px;
	width: 200px;float:left;
	border: 1px solid #aaa;
	background: #fff;
	overflow: hidden;
	background-repeat: no-repeat;
	cursor: move;
	box-shadow: 4px 4px 12px #B0B0B0; 
}
.imageBox .thumbBox {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 130px;
	height: 130px;
	margin-top: -65px;
	margin-left: -65px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius:120px;
	box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
	background: none repeat scroll 0% 0% transparent;
}
.imageBox .spinner {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 200px;
	background: rgba(0,0,0,0.7);display:none;
}
.Btnsty_peyton{ float: right;
   width:80px;
  display: inline-block;
  margin-bottom: 10px;
  height: 38px;
  line-height:38px;
  font-size: 14px;
  color: #FFFFFF;
  margin:60px 2px 0 2px;
  background-color: #0d7aff;
  border-radius: 3px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 0px 5px #B0B0B0;
  font-weight:bold;
}
/*选择文件上传*/
.new-contentarea {
	width: 100px;text-align:right;
	overflow:hidden;
	position:relative;float:right;cursor:pointer;
}

.new-contentarea input[type=file] {
	width:100px;
	height:60px;
	margin: 0 auto;
	position:absolute;
	right:50%;
	margin-right:-50px;
	top:0;
	right/*\**/:0px\9;
	margin-right/*\**/:0px\9;
	width/*\**/:10px\9;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:2;cursor:pointer;
}
a.upload-img{
	width:80px;
	display: inline-block;
	margin-bottom: 10px;
	height:38px;
	line-height:38px;
	text-align:center;
	color: #FFFFFF;
	background-color: #0d7aff;
	border-radius: 3px;
	font-weight:bold;
	cursor:pointer;
	border: 0px #fff solid;
	box-shadow: 0px 0px 5px #B0B0B0;
}
a.upload-img:hover{
	background-color: #0d7aff;
}

.change1{border-radius:6px;background:#fff;position:absolute;position:fixed !important;width:434px;height:368px;top:50%;left:50%;margin-top:-184px;margin-left:-140px;display:none;}
/*www.jq22.com*/
.change1 h3{border-bottom:1px solid #b7b7b7;text-align:center;height:60px;line-height:60px;}
.change1 h3 a{float:right;color:#a4a4a9;text-decoration:none;margin-right:15px;font-size:30px;}
.change1 p{margin:35px 50px 0 50px;}
.change1 p img{width:193px;height:187px;float:left;margin-right:40px;}
.change1 p button{border-radius:4px;width:96px;height:40px;line-height:40px;font-size:16px;letter-spacing:2px;color:#fff;cursor:pointer;outline:none;}
.change1 p button:nth-of-type(1){margin-top:20px;background:#0d7aff;}
.change1 p button:nth-of-type(2){margin-top:60px;background:#a4a4a9;}